body {
    font-family: 'Raleway', sans-serif;
    width: 1440px;
    height: 4440x;
    background-color: #F5F5F5;
}
header{
    width: 1440px;
    height: 88px;
    margin: 0px 0px 0px 150px;
    padding: 32px;
    margin-left: 150px;

}
.encabezadoPrincipal{
    display: flex;
    width: 1136px;
    height: 24px;
    padding: 32px 0px 32px 0px;
    overflow: hidden;
    margin-left: 150px;
    
    
}
.encabezadoPrincipalLogoyTexto{
    display: flex;
    width: 134px;
    height: 24px;
    padding: 0px;
    margin-right: auto; /* Empuja los elementos hacia el margen izquierdo */
    
}
.encabezadoPrincipalLogo{
    display: block;
    width: 24px;
    height: 24px;
    
}
.encabezadoPrincipalTexto{
    display: block;
    width: 140px;
    height: 19px;
    overflow: hidden;
    padding-top: 2px;

}
.encabezadoPrincipalTexto p{
    font-size: 16px;
    font-weight: 700;
    height: 19px;   
}
.topnav{

    width: 753px;
    height: 19px;

    display: flex;
    justify-content: flex-end; /* Para alinear los elementos al final */
    margin-right: 8px;
    
}
.topnav ul{
       display: inline;
}
.topnav li{
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: medium;

}
.topnav ul li:last-child a {
    font-weight: bold; /* Aplica negrita al último elemento de la lista */
}
header p{
    display: inline;
    font-size: 16px;
    font-weight: bold;
}

.encabezado{
    display: flex;
    width: 1136px;
    height: 368px;
    margin-left: 150px;

}
.encabezadoSecundario{
    display: block;
    width: 751px;
    height: 246px;
}
.encabezadoSecundario h1 {
    font-size: 52px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 20px;
       
}
.encabezadoSecundario p{
    width: 751px;
    height: 52px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight:400;
    margin-bottom: 20px;
   
}
.linksExternos{
    height: 24px;
    margin-top: 24px;

}
.linksExternos li,
.linksExternos ul {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
}
.miFoto{
    display: block;
    height: 368px;
    width: 368px;
    border-radius: 50%;
}

main{
    width: 1440px;
    height: 4328px;
}

#about {
    width: 1440px;
    height: 383px;
    padding: 0px;
    padding-top: 64px;
    padding-left: 150px;
    margin: 0px 0px 0px 0px;
    background-color: #EAF2FD;
}
#about h3{
    width: 137px;
    height: 36px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight:bold;   
}
#about p{
    width: 751px;
    height: 133px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight:400;
    padding-top: 24px;   
}
.autografo{
    width: auto;
    height: 52px;
    
}
#skills{
    width: 1136px;
    height: 344px;
    text-align: center;
    font-size: 32px;
    margin: 32px 0px 0px 152px; 
}
#skills .tituloSeccion{
    width: 1136px;
    height: 38px;
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    margin-bottom: 32px;  
    
}
#skills p{
    width: 1136px;
    height: 38px;
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;  
    margin-bottom: 32px;  
}
/* Estilos para los bloques de habilidades */
.habilidad {
    text-align: center;
    display: inline-block;
    margin: 0px;
    width: 176px;
    height: 174px;
    padding: 0px 0px 0px 0px;
    background-color: white;
}
.habilidad p {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 700;
}

/* Aplicar margen izquierdo solo a habilidades excepto el primero */

/* Estilos para el icono */
.habilidad i {
    
    font-size: 48px;
    color: #333; /* Color del icono */
    
}
/* Estilos para el texto */
#skills .imagen1 {
    font-size: 16px;
    width: 24px;
    height: 36px;
    text-align: left;
    margin-top: 90px;
    margin-right: 128px;
}
#skills .habilidad p{

    font-size: 16px;
    color:  #464646; /* Color del texto */
    text-align: left;
    height: 19px;
    width: 144px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#hobbies{
    width: 1136px;
    height: 344px;
    text-align: left;
    font-size: 32px;
    margin: 0px 0px 0px 152px; 
}
#hobbies .tituloSeccion{
    width: 1136px;
    height: 38px;
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    margin-bottom: 32px;  
    
}
/* Estilos para los bloques de habilidades */

/* Aplicar margen izquierdo solo a habilidades excepto el primero */

#hobbies .habilidad:not(:first-of-type) {
    margin-left: 6px;
}

/* Estilos para el texto */
#hobbies  .imagen1{
    
    width: 32px;
    height: auto;
    text-align: left;
    margin-top: 90px;
    margin-right: 128px;
    justify-content: left;
}
#hobbies .habilidad p{
    font-size: 16px;
    color:  #464646; /* Color del texto */
    text-align: left;
    height: 19px;
    width: 144px;
    margin-top: 8px;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    overflow: hidden; /* Evitar que el texto desborde */
}

#formacionSector {
    width: 1440px;
    height: 581px;
    padding: 82px 0px 82px 152px;
    background-color: #EAF2FD;
    ;
    
}
#formacionSector p {
    width: 1136px;
    height: 38px;
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    margin-bottom: 32px;  
}

.formacion{
    display: block;
    width: 368px;
    height: 347px;
    margin-right: 16px;
}
.formacionContainer{
    display: flex;
}
#formacionSector .formacion .imagenFormacion{
    width: 368px;
    height: 286px;
    padding: 0px;
}
#formacionSector .formacion h3{
    width: 178px;
    height: 26px;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
}
#formacionSector .formacion p{
    width: 178px;
    height: 19px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
#formacionSector .tituloSeccion{
    width: 1136px;
    height: 38px;
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height: 37.57px;
    margin-bottom: 32px;  
    
}
#experiencia{
    height: 872px;
    width: 1136px;
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    flex-direction: column; /* Alineamos los elementos en una columna */
    align-items: center; /* Centramos los elementos horizontalmente */
    margin-left: 152px;
    margin-top: 32px;
    background-color: D3D3D3;
    ;
}
.bloque {
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuimos los elementos horizontalmente */
    width: 1136px; /* Hacemos que el bloque ocupe todo el ancho disponible */
    height:406px;
    margin-bottom: 32px; /* Agregamos un margen inferior para separar los bloques */
    flex-direction: center;
    padding-top: 24px;
}
.experienciaTitulo{
    width: 1136px;
    height: 38px;
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    margin-bottom: 32px;  
}
.experienciaIzquierdaTitulo{
    font-size: 24px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
}
.experienciaIzquierdaDerechaTitulo p{   
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    margin-top: 16px;
}
/* Estilo base de los botones */
.btnEncriptar,
.btnDesencriptar,
.btnCopiar,
.btnRepositorio,
.btnVerDemo,
.btnRepositorioAhorcado,
.btnVerDemoAhorcado,
.btnReiniciar,
.btnProbarSuerte
{
    background-color: #0b02c0;
    color: white;
    width: 105px;
    height: 50px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

/* Efecto hover para aclarar y simular un efecto fosforescente */
.btnEncriptar:hover,
.btnDesencriptar:hover,
.btnCopiar:hover,
.btnRepositorioAhorcado:hover,
.btnProbarSuerte:hover,
.btnReiniciar:hover,
.btnVerDemoAhorcado:hover {
    background-color: #4272f5; /* Color más claro para el efecto de aclarado */
}
.experienciaIzquierda {
    width: 752px;
    height: 406px;
    padding-left: 34px;
    background-color: #D3D3D3;
}
.experienciaIzquierdaBloque{
    width: 688px;
    height: 288px;
    background-color: white;
    display:flex;
    justify-content: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
.experienciaIzquierdaIzquierda {
    width: 328px;
    height: 200px;  
    flex-direction: center;
    background-color: #464646;
    
}
.experienciaIzquierdaIzquierdaTitulo, .experienciaIzquierdaIzquierdabotones{
    padding: 8px;
}
#encriptador{
    padding: 8px;
    margin-left: 16px;
}
.experienciaIzquierdaDerecha {
    width: 328px;
    height: 200px;  
    flex-direction: center;
    background-color: #464646;
    padding-left: 24px;
}
.experienciaDerecha {
    display:flex;
    flex-direction: column; 
    width: 384px;
    height: 406px;
    background-color: rgba(213, 210, 210, 0.758);

    justify-content: center;

}
.experienciaDerechaBotones{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 51px;
    margin-left: 8px;
    margin-top: 8px;
}
.experienciaDerechaTitulo h3{
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
}
.experienciaDerechaTexto{
    margin-left: 8px;
    margin-top: 0px;
}
.experienciaDerecha p{
    font-size: 16px;
    font-weight: normal;
}
.bloqueAhorcado{
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuimos los elementos horizontalmente */
    width: 1136px; /* Hacemos que el bloque ocupe todo el ancho disponible */
    height:406px;
    margin-top: 32px;
    margin-bottom: 0px; /* Agregamos un margen inferior para separar los bloques */
    flex-direction: center;
    background-color: rgb(239, 239, 239);

}
.experienciaIzquierdaAhorcado{
    width: 384px;
    height: 406px;    
}
.experienciaIzquierdaTituloAhorcado{
    font-size: 24px;
    font-weight: bold;
}
.experienciaIzquierdaBloqueAhorcado{
    display:flex;
    width: 384px;
    height: 288px;
    background-color: #F5F5F5;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
.experienciaIzquierdaIzquierda{
    width: 328px;
    height: 200px;  
    flex-direction: center;
    background-color: #ac1313;

}
.experienciaDerechaAhorcado{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    width: 752px;
    height: 406px;
    background-color: rgba(213, 210, 210, 0.758);
    padding-left: 64px;
}
#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 788px;
    background-color: #EAF2FD;
    padding-top: 64px;
    margin-top: 64px;
}
.contactoIzquierdo{
    width: 464px;
    height: 593px;
}
.contactoDerecho{
    width: 656px;
    height: auto;

}
.textoCaja{
    width: 656px;
    height: 84px;
    margin-left: 16px;
    
}
.textoCaja h1{ 
    font-size: 32px;
    font-weight: 700;
}
.textoCaja h2{ 
    font-size: 16px;
    font-weight: 500;
}
.contactForm{
    width: 656px;
    height:auto;
    margin-left: 16px;
}
.contactForm #nombre {width: 656px}
.contactForm #asunto {
    width: 656px;
    height: 56px}
.contactForm input[type="email"],
.contactForm textarea {
    width: 656px;
}

.btnFormulario
{
    background-color: #0b02c0;
    color: white;
    width: 105px;
    height: 50px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.btnFormulario:Hover{
    background-color: #4272f5; /* Color más claro para el efecto de aclarado */
}
#nombre2 {
    margin-top: -20px; /* Ajusta este valor según sea necesario */
    border-top: none;
    height: 16px;
    width: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 656px;
}
#nombre1 {
    border-bottom: none;
    height: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 656px;
}
#email2 {
    margin-top: -20px; /* Ajusta este valor según sea necesario */
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 656px;
    height: 16px;
}
#email1 {
    border-bottom: none;
    color: #0000FF; /* Color azul estándar */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 656px;
    height: 16px;
}
.contactForm input,
.contactForm textarea,
.contactForm button {
    border: none;
    border-radius: 4px;
}
/* Cambiar el color del placeholder del campo de correo electrónico */
#email1:focus {
    color: #0000FF; /* Color azul cuando el campo está enfocado */
}

#asunto:focus {
    height: 100px; /* Altura aumentada al hacer clic */
  }

.imagenAhorcado{
    height: 40%;
    width: 40%;
    padding-bottom: 16px;
}
.ahorcados {
    display: flex;
    flex-direction: column;

}

#mensajePerdiste {
     display: none;
    position: fixed;
    width: 35%;
    height: 15vh; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 72px; /* Tres veces más grande */
    font-weight: bold; /* En negrita */
    text-align: center; /* Centrado horizontalmente */
    line-height: 1.5; /* Espaciado entre líneas para centrar verticalmente */
    z-index: 9999;
    padding-top: calc(25vh / 4); /* Calcula el 1/4 de la altura */
}
textarea[name^="dibujo"] {
    color: white;
}

.experienciaIzquierdaDerechaBotones{
    padding: 16px;
}
.contactoImagen{
    width: 464px;
}
footer {
    text-align: center;
    margin-top: 32px;
    height: 102px;
    padding: 32px;
}
.rodapie{
    margin-top: 32px;
}
footer p {
    margin: 0;
    font-size: 16px;
    font-family: 500;
}
.textoRodapie{
    height: 38px;
}

@media screen and (max-width: 769px) and (max-height: 4380px) {
    main {
        padding: 0px;
        background-color: #F5F5F5;
        width: 768px;
    }
    .encabezadoPrincipal{
        width: 768px;
        margin: 0px;
        padding: 18.5px 32px 0px 32px;
        height: 56px;
    }
    .topnav{
        display: none;
    }
    .encabezadoPrincipalTexto{
        margin-top: 2.5px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
        width: 100%; /* Esto hará que el texto ocupe todo el ancho del contenedor */
    }
    .encabezadoPrincipalLogoyTexto {
        margin-right: 0px;
        width: 100%;
    }

    .email-link{
        margin-right: 32px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
    }

    .encabezado {
        display: flex;
        
        align-items:flex-start;
        width: 100%;
        margin: 0px;
        height: 210px;
    }
    .encabezadoMiFoto{
        margin:32px;  /* Añade espacio entre la foto y el encabezado secundario */
    }
    .miFoto {
        width: 142px;
        height: 142px;
    }

    .encabezadoSecundario {
        text-align: left; /* Centra el texto */
        width: 524px;
        margin: 40px 0px 8px 32px ;
    }
    .encabezadoSecundario h1{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;
        width: 100%;
        margin-bottom: 8px;
    }
    .encabezadoSecundario p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.44px;
        text-align: left;
        width: 100%;
        margin-bottom: 8px;
        height: 38px;
    }
    .linksExternos {
        text-align: left;
        height: 24px;
        align-items: center; /* Centrar horizontalmente */
        margin: 0px;
    } 
    
    .linksExternos ul {
        height: 24px;
    }
    .linksExternos li {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.74px;
        align-items: center; /* Centrar verticalmente */
        height: 24px;
    }
    .linksExternos a{
        height: 24px;
    }
    .flechaLink{
        width: 24px;
        height: 24px;
    }
    #about{
        width: 768px;
        height: 286px;
        padding: 32px 0px 0px 32px;
    }
    #about h3{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
    #about p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .autografo{
        width: auto;
        height: 52px;
    }
    #skills{
        width: 768px;
        height: 390px;
        margin: 0px;
    }
    #skills .tituloSeccion {
        width: 768px;
    }
    #skills p{
        width: 768px;
        margin-top: 32px;
    }
    #skills h3{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        margin-top: 32px;

    }
    .habilidad{
        width: 224px;
        margin-top: 32px;
        height: 118px;
    }
    
    #skills .imagen1{
        text-align: left;
        width: 24px;
        margin: 0px;
        padding: 0px;
        margin-top: 38px;
        margin-right: 60%;
    }
    #hobbies{
        height:390px;
        width: 768px;
        margin: 0px;

    }
    #hobbies .tituloSeccion {
        width: 768px;
        margin-top: 32px;
        margin-bottom: 0px;
    }
    #hobbies h3{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;

    }
    #hobbies .habilidad{
        width: 224px;
        margin-top: 43px;
        height: 118px;

    }
    #hobbies .habilidades{
        margin-left: 26px;
    }
    
    #hobbies .imagen1{
        width: 24px;
        height: auto;
        margin: 0px;
        padding: 0px;
        margin-top: 43px;
        margin-right: 176px;
    }
    #formacionSector {
        height:291px;
        width: 768px;
        margin: 0px;
        padding: 0px;

    }
    #formacionSector .tituloSeccion{
        margin-top: 0px;
        padding: 32px;
        padding-left: 0px;
        width: 768px;
    }
    #formacionSector h3{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;
    }
    #formacionSector .formacion{
        width: 224px;
        height: 169px;
        opacity: 0px;
        margin: 0px;
        margin-right: 16px;
        margin-left: 0px;
    }
    #formacionSector .formacion .imagenFormacion{
        width: 224px;
        height: 118px;
    }
    #formacionSector .formacionContainer{
        margin-left: 32px;

    }
    #formacionSector .formacion h3{
        margin: 0px;
        padding: 0px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;

    }
    #formacionSector .formacion p{
        margin: 0px;
        
        padding: 0px;
        
        font-family: Raleway;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.44px;
        text-align: left;
    }
    #experiencia{
        width: 768px;
        height: 1000px;
        padding: 0px;
        margin: 0px;
    }
    #experiencia  .experienciaTitulo{
        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;
        width: 768px;
        margin-top: 32px;
        margin-bottom: 8px;

    }
    #experiencia  .experienciaTitulo h3{

        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;
        width: 768px;

    }

    .bloque{
        width: 100%;
        height: 427px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .experienciaIzquierda{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 320px;
    }
    .experienciaIzquierdaBloque{
        width: 100%;
        height: 320px;
    }
    .experienciaDerecha{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #comentario{
        width: 84%;
        text-align: center;
        margin-left: 16px;
    }
    .experienciaIzquierdaIzquierdaTitulo{
        width: 277px;
        text-align: center;
        
    }
    .experienciaIzquierdaTitulo h3{
        text-align: center;
        font-family: Raleway;
        

    }
    .experienciaIzquierdaIzquierdaTitulo p{

        text-align: center;
        font-family: Raleway;
        
    }
    
    #experiencia .experienciaIzquierdaDerecha{
        width: 50%;
        margin: 0px;
        padding: 0px;
        height: 168px;
        display: flex;
        flex-direction: column; /* Cambiamos la dirección del flex a columna */

    }
    .experienciaIzquierdaDerechaTitulo p{
        margin: 16px 0px 8px 16px;

        padding: 0px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
    }
    .experienciaIzquierdaIzquierdabotones{
        width: 212px;
        height: 36px;
    }

    #experiencia .btnCopiar{
        margin: 8px 0px 0px 8px;
    }

    #experiencia .experienciaDerecha{
        height: 91px;
        margin-bottom: 0px;
    }
    #experiencia .experienciaDerechaTitulo{
        height: 20px;
        margin: 0px;
        padding: 0px;
    }
    #experiencia .experienciaDerechaTitulo h3{
        font-size: 16px;
        padding: 0px;
        margin: 0px;
    }

    .experienciaDerechaTexto p{
        padding: 0px;
        font-family: Raleway;
        font-size: 14px;
        font-weight: medium;
        line-height: 16.44px;
        text-align: left;
        margin: 0px;
    }
    #experiencia .experienciaDerechaBotones{
        width: 560px;
        height: 40px;
    }

    #experiencia .bloqueAhorcado{
        width: 768px;
        height: 427px;
    }
    #experiencia .experienciaIzquierdaBloqueAhorcado{
        height: 91px;
        width: 768px;
        justify-content: flex-end;

    }

    #experiencia .experienciaIzquierdaIzquierdaTitulo{
        padding: 0px;
        margin-top: 16px;
    }
    #experiencia .experienciaIzquierdaIzquierda{
        height: 91px;
        width: 50%;
        background-color: #464646;
        margin-right: 32px;
    }
    #comentario{
        height: 26px;
    }
    #encriptador{
        width: 80%;
        margin-top: 8px;
    }
    .bloqueAhorcado {
        display: flex;
        flex-wrap: wrap;
    }
    .experienciaDerechaAhorcado {
        order: 1; /* Cambia el orden del elemento */
        width: 100%;
        padding: 0px;
    }

    .experienciaIzquierdaAhorcado {
        order: 2; /* Cambia el orden del elemento */
        width: 100%;
        height: 91px;
    }
    #experiencia .experienciaDerechaAhorcado {
        display: flex;
        flex-direction: row; /* Establece la dirección de los elementos como fila */
        align-items:center; /* Alinea los elementos verticalmente */
        justify-content: flex-start;
        height: 320px;
        width: 100%;
        text-align: left;
        background-color: white;
        width: 768px;
    }
    
    #experiencia .imagenAhorcado{
        width: auto;
        height: 100%;
        margin: 0px;
        padding: 0px;
        margin-left: 32px;
    }
    #experiencia .experienciaDerechaTituloAhorcado{
        width: 100%;
        margin-left: 32px;
    }
    #experiencia .experienciaIzquierdaDerechaBotones {
        display: flex;
        justify-content:flex-start; /* Espacio uniformemente distribuido entre los elementos */
        align-items: center; /* Alinea los elementos verticalmente en la misma línea de base */
        padding: 0px;
        margin-top: 32px;
    }
    #experiencia .experienciaDerechaTitulo h3{
        margin-bottom: 0px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 16.44px;
        text-align: left;

    }

    .btnEncriptar,
.btnDesencriptar,
.btnCopiar,
.btnRepositorio,
.btnVerDemo,
.btnRepositorioAhorcado,
.btnVerDemoAhorcado,
.btnReiniciar,
.btnProbarSuerte
{
    background-color: #0b02c0;
    color: white;
    width: 84px;
    height: 32px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
#contacto{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 568px;
    margin-top: 32px;
}
#contacto .contactoIzquierdo{
    display: none;
    height: 568px;
}
#contacto .contactoDerecho{
        width: 704px;
        height: 100%;
        
    }
#contacto .textoCaja{
    width: 100;
    padding: 0px;
    margin: 0px;
}
#contacto .contactForm{
    margin: 0px;
    padding: 0px;
}
 #contacto .btnFormulario{
    margin-top: 32px;
 }
}


@media screen and (max-width: 361px) and (max-height: 4476px) {

    body{
        width: 361px;
        height: 4476px;
        margin: 0px;
        padding: 0px;
    }
    header{
        height: 56px;
    }
    .encabezadoPrincipal{
        margin: 16px 0px 0px 0px;

        width: 360px;
        height: 24px;

        padding: 0px;
    }
    .encabezadoPrincipalLogoyTexto {
        width: auto;
    }
    .encabezadoPrincipal .topnav{
        display: none;
    }
    .encabezado{
        width: 360px;
        height: 294px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .encabezadoSecundario{
        width: 360px;
        height: 148px;
        order: 2;
    }
    main{
        width: 360px;
        height: 4317px;
    }
    .encabezadoSecundarioTexto{
        height: auto;
        width: 360px;
    }
    .encabezadoSecundarioTexto h1{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 25.83px;
        font-weight: 700;
        margin: 0px;
        margin-bottom: 12px;
        width: 100%;
    }

    .encabezadoSecundarioTexto p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        line-height: 16.44px;
        font-weight: 400;
        margin:0px;
        width: 100%;
    }
    .linksExternos{
        margin: 0px;
        margin-left: 0px;
    }
    .encabezadoMiFoto{
        width: 98px;
        height: 98px;
    }
    .miFoto {
        display: block;
        height: 98px;
        width: 98px;
        border-radius: 50%;
    }
    #about{
        width: 100%;
        height: 350px;
        margin: 0px;
        padding: 0px;

    }
    #about .tituloSeccion{
        width: 100%;
        margin-left: 16px;

    }
    #about .parrafoSeccion h3{
        font-family: "Raleway";
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
        }
    #about .parrafoSeccion{
        width: 100%;
        height: auto;
        margin-left: 16px;
    }
    #about .parrafoSeccion p{
    width: 100%;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    text-align: left;
    height: 100%;
    }
    #about .autografo{
        margin-top: 16px;
        margin-left: 16px;
    }
    #skills{
        width: 360px;
        height: auto;
        margin: 0px;
    }
    #skills .tituloSeccion{
        width: 100%;
        margin: 16px 0px 0px 0px;
    }
    #skills .habilidadesSkills{
        width: 360px;
        margin-left: 0px;
    }
    #skills .habilidadesSkills .habilidad{
        margin: 16px 0px 16px 16px;
        padding: 0px;

    }

    #skills .habilidadesSkills .habilidad p{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        margin: 0px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
    }
    
    #skills .habilidad{
        width: 156px;
        height: 118px;
        margin: 16px;
    }

    #skills .habilidad .imagen1{
        width: 40px;
        height: 40px;
        margin: 20% 60% 0px 0px;
    }
    #hobbies{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
    #hobbies .tituloSeccion{
        width: 100%;
        margin: 16px 0px 0px 0px;
    }

    #hobbies .tituloSeccion h3{
        width: 100%;
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;

    }
    #hobbies .habilidades{
        width: 100%;
        height: auto;
        margin-left: 16px;
    }
    #hobbies .habilidades .habilidad{
        width: 156px;
        height: 118px;
        margin-bottom: 32px;
    }
    #hobbies .habilidades .habilidad .imagen1{
        width: 32px;
        height: 32px;
        margin: 0px;
        padding: 0px;
        margin-right: 60%;
        margin-top: 30%;
    }
    #hobbies .habilidades .habilidad p{
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
        margin: 0px;
        padding: 0px;

    }
    #hobbies .habilidad:not(:first-of-type) {
        margin-left: 0px;
    }
    #formacionSector{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 661px;
        margin: 0px;
        padding: 0px;
    }
    #formacionSector .tituloSeccion{
        width: 100%;
        margin: 0px;
        margin-top: 32px;
    }
    #formacionSector .tituloSeccion h3{
        width: 100%;
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;


    }
    #formacionSector .formacionContainer{
        width: calc(100% - 32px); /* Resta 32px del ancho total */
        display: block;
        margin-left: 32px;
    }
    #formacionSector .formacionContainer .formacion{
        width: 296px;
        height: 169px;
        margin: 0px 0px 16px 0px;
    } 

    #formacionSector .formacionContainer .formacion .imagenFormacion{
        width: 100%;
        height: 118px;
    }
    #formacionSector .formacionContainer .formacion h3{
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
        margin: 8px 0px 8px 0px;
        height: 19px;
        width: fit-content;
    }
    #formacionSector .formacionContainer .formacion p{
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        line-height: 16.44px;
        text-align: left;
        margin: 0px;
        height: 16px;
        width: fit-content;

    }
    #experiencia{
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }
    #experiencia  .experienciaTitulo{
        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 8px;

    }
    #experiencia  .experienciaTitulo h3{

        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: center;
        width: 100%;

    }

    .bloque{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .experienciaIzquierda{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 144px;
    }
    .experienciaIzquierdaTitulo{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: AUTO;
    }
    .experienciaIzquierdaBloque{
        width: 100%;
        height: 100%;
    }
    #experiencia .experienciaIzquierdaIzquierda{
        height: 140px;
        width: 50%;
        background-color: #464646;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
    .experienciaDerecha{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #comentario{
        width: 84%;
        text-align: center;
        margin-left: 16px;
    }
    .experienciaIzquierdaIzquierdaTitulo{
        width: 100%;
        text-align: center;
        margin: 8px 0px 0px 0px;
        padding: 0px;
        
    }
    
    #experiencia .experienciaIzquierdaIzquierdaTitulo p{
        width: 100%;
        text-align: center;
        font-family: Raleway;
        font-size: 0.7em;
        line-height: auto;
        
    }
    
    #experiencia .experienciaIzquierdaDerecha{
        width: 50%;
        margin: 0px;
        padding: 0px;
        height: 140px;
        display: flex;
        flex-direction: column; /* Cambiamos la dirección del flex a columna */
        align-items: center;
        justify-content: flex-start;

    }
    #experiencia .experienciaIzquierdaDerecha #comentario{
        margin: 0px;
        padding: 0px;
        width: 90%;
        text-align: center;
    }
    #experiencia .experienciaIzquierdaDerecha .btnCopiar{
        height: 16px;
        text-align: center;
        font-family: Raleway;
        font-size: 12px;
    }
    .experienciaIzquierdaDerechaTitulo p{
        margin: 16px 0px 5px 0px;
        padding: 0px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        line-height: 12.78px;
        text-align: left;

    }
    .experienciaIzquierdaIzquierdabotones{
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 8px 0px 8px 4px;
    }
    .experienciaIzquierdaIzquierdabotones .btnEncriptar, .experienciaIzquierdaIzquierdabotones .btnDesencriptar{
        width: 45%;
        font-size: 0.6em;
        height: 32px;
    }
    .experienciaDerechaBotones .btnRepositorio, .experienciaDerechaBotones .btnVerDemo{
        width: 45%;
        font-size: 0.6em;
        height: 32px;
    } 
    #experiencia .experienciaIzquierdaDerecha .btnCopiar{
        width: 50%;
        font-size: 0.6em;
        height: 32px;
    }

    #experiencia .btnCopiar{
        margin: 8px 0px 0px 8px;
    }

    #experiencia .experienciaDerecha{
        height: 91px;
        margin-bottom: 0px;
    }
    #experiencia .experienciaDerechaTitulo{
        height: 20px;
        margin: 0px;
        padding: 0px;
    }
    #experiencia .experienciaDerechaTitulo h3{
        font-size: 16px;
        padding: 0px;
        margin: 0px;
    }

    .experienciaDerechaTexto p{
        padding: 0px;
        font-family: Raleway;
        font-size: 14px;
        font-weight: medium;
        line-height: 16.44px;
        text-align: left;
        margin: 0px;
    }
    #experiencia .experienciaDerechaBotones{
        width: 100%;
        height: auto;
    }

    #experiencia .bloqueAhorcado{
        width: 768px;
        height: 427px;
    }
    #experiencia .experienciaIzquierdaBloqueAhorcado{
        height: 91px;
        width: 768px;
        justify-content: flex-end;

    }
    
    #comentario{
        height: 26px;
    }
    #encriptador{
        width: 90%;
        margin: 8px;
        padding: 0px;
        height: 26px;
    }
    .bloqueAhorcado {
        display: flex;
        flex-wrap: wrap;
    }
    .experienciaDerechaAhorcado {
        order: 1; /* Cambia el orden del elemento */
        width: 100%;
        padding: 0px;
    }

    .experienciaIzquierdaAhorcado {
        order: 2; /* Cambia el orden del elemento */
        width: 100%;
        height: auto;
    }
    #experiencia .experienciaDerechaAhorcado {
        display: flex;
        flex-direction: row; /* Establece la dirección de los elementos como fila */
        align-items:center; /* Alinea los elementos verticalmente */
        justify-content: flex-start;
        height: 320px;
        width: 100%;
        text-align: left;
        background-color: white;
        width: 768px;
    }
    
    #experiencia .imagenAhorcado{
        width: auto;
        height: 100%;
        margin: 0px;
        padding: 0px;
        margin-left: 32px;
    }
    #experiencia .experienciaDerechaTituloAhorcado{
        width: 100%;
        margin: 0px;
    }
    #experiencia .experienciaIzquierdaDerechaBotones {
        display: flex;
        justify-content:flex-start; /* Espacio uniformemente distribuido entre los elementos */
        align-items: center; /* Alinea los elementos verticalmente en la misma línea de base */
        padding: 0px;
        margin-top: 32px;
    }
    #experiencia .experienciaDerechaTitulo h3{
        margin-bottom: 0px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 16.44px;
        text-align: left;

    }
    #experiencia .bloqueAhorcado{
        width: 100%;
        height: auto;
    }
    .experienciaDerechaAhorcado{
        width: 100%;
    }
    #experiencia .imagenAhorcado{
        margin: 0px;
    }
    #experiencia .experienciaIzquierdaBloqueAhorcado{
        width: 100%;
        height: auto;
    }
    #experiencia .experienciaIzquierdaBloqueAhorcado .experienciaIzquierdaIzquierda{
        width: 100%;
        height: auto;
    }
    
    #experiencia .experienciaDerechaAhorcado{
        width: 100%;
    }
    #experiencia .experienciaDerechaAhorcado .imagenAhorcado{
        width: 50%;
    }
    #experiencia .experienciaDerechaAhorcado .experienciaDerechaTituloAhorcado{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #experiencia .experienciaIzquierdaDerechaBotones{
        width: calc(100% - 16px);
        margin: 8px;

    }

    #experiencia .experienciaIzquierdaDerechaBotones .btnReiniciar , #experiencia .experienciaIzquierdaDerechaBotones .btnProbarSuerte{
        width: 50%;
        height: 32px;
        font-size: 0.6em;
        
    } 
    #experiencia .DibujoAhorcado{
        width: 90%;
        margin: 8px;
    }
    /* Establece el ancho al 10% para los elementos del 1 al 9 */
    #experiencia .DibujoAhorcado [id^="dibujo"]:nth-child(-n+9) {
        width: 12px;
        padding: 0;
        margin: 0;
        aspect-ratio:1/1;
}
    #experiencia .ahorcadoTexto{
        width: 90%;
        margin: 8px;
    }
    #experiencia .ahorcadoTexto #ahorcado1,
    #experiencia .ahorcadoTexto #ahorcado2,
    #experiencia .ahorcadoTexto #ahorcado3,
    #experiencia .ahorcadoTexto #ahorcado4,
    #experiencia .ahorcadoTexto #ahorcado5,
    #experiencia .ahorcadoTexto #ahorcado6,
    #experiencia .ahorcadoTexto #ahorcado7,
    #experiencia .ahorcadoTexto #ahorcado8,
    #experiencia .ahorcadoTexto #ahorcado9{
        width: 12px;
        aspect-ratio:1/1;
        margin: 0px;
        padding: 0px;
    }
    .btnRepositorioAhorcado{
        width: 50%;
        height: 32px;
        font-size: 0.6em;
    }
    .btnVerDemoAhorcado{
        width: 45%;
        height: 32px;
        font-size: 0.6em;
    }
    .experienciaIzquierdaTituloAhorcado{
        width: 100%;
        margin: 8px 0px 8px 0px;
    }
    #contacto{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
    #contacto .contactoIzquierdo{
        width: 50%;
        height: auto;
        display: none;
    }
    #contacto .contactoImagen{
        width: 100%;
        aspect-ratio:1/1;
    }
    #contacto .contactoDerecho{
        width: 100%;
    }
    #contacto .textoCaja{
        width: 100%;
        height: auto;
        margin: 32px 0px 0px 32px;
    }
    #contacto .contactoDerecho{
        width: 100%;
    }
    #contacto .contactForm{
        width: 100%;
        height: auto;
        margin: 32px 0px 32px 32px;
    }
    #contacto #nombre1{
        width: calc(100% - 64px);
    }
    #contacto #nombre2{
        width: calc(100% - 64px);
    }
    #contacto #email1{
        width: calc(100% - 64px);
    }
    #contacto #email2{
        width: calc(100% - 64px);
    }
    #contacto #asunto{
        width: calc(100% - 64px);
    }
    #contacto #mensaje{
        width: calc(100% - 64px);
    }
    #contacto   .btnFormulario{
        width: 37%;
        height: 32px;
        margin: 32px 0px 0px 0px;
    }
    .rodapie{
        width: 100%;
        aspect-ratio: 3/1;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */ 
        margin: 0px;
    }
    .rodapie .textoRodapie{
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 500;
        line-height: 18.78px;
        text-align: center;

    }
}